body {
    margin: 30px;
    background-color: rgb(202, 224, 238);
}

* {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

button {
    border: none;
    cursor: pointer;
}

.quizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quizz h1 {
    font-family: "Silkscreen", sans-serif;
    font-size: 40px;
}

.generations {
    margin-bottom: 10px;
    cursor: default;
}

.btnSelectGen {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.btnSelectGen:hover {
    background-color: rgb(211, 65, 89);
    transition: 200ms;
}

.btnReset {
    border-radius: 20px;
    padding: 5px 10px;
    min-width: 30px;
    min-height: 30px;
}

.btnReset:hover {
    background-color: rgb(233, 233, 233);
    transition: 200ms;
}

.selected {
    background-color: rgb(211, 65, 89);
}

.question__title {
    font-weight: 400;
    font-size: 28px;
}

.inputArea {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    position: relative;
    width: 100%;
}

#inputPoke {
    padding: 10px 15px;
    background-color: rgb(202, 224, 238);
    border: 2px solid black;
    border-radius: 25px;
    font-size: 18px;
    text-align: left;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
}

#btnValiderPoke {
    padding: 13px 20px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 300ms;
    width: auto; 
    margin-left: 10px; 
}

#btnValiderPoke:hover {
    background-color: rgb(39, 39, 39);
}

#proposition img {
    height: 400px;
}

@media (max-width: 480px) {
    .quizz {
        margin: 10px;
    }

    .quizz h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
    }

    .btnSelectGen {
        font-size: 15px;
        min-width: 44px;
        min-height: 44px;
        border-radius: 40px;
    }

    #proposition img {
        height: 200px;
    }

    .question__title {
        font-size: 15px;
    }

    .inputArea {
        margin: 20px 0;
        flex-direction: column; 
        align-items: stretch; 
    }

    #inputPoke {
        width: 100%;
        margin-bottom: 10px; 
    }

    #btnValiderPoke {
        width: 100%; 
        margin-left: 0; 
    }
}
